### Ï£ºÏ†ú

---

üß™ **Í∏àÏúµ Í≥†Í∞ùÎç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅ ÏãúÌñâ Î∞è Íµ∞ÏßëÎ≥Ñ Ïù∏ÏÇ¨Ïù¥Ìä∏ ÎèÑÏ∂ú**

- Îç∞Ïù¥ÌÑ∞ÏÖãÏóê ÎåÄÌïú ÌòÑÌô©ÏùÑ ÌååÏïÖÌï† Ïàò ÏûàÎèÑÎ°ù Ìï©ÎãàÎã§.
- Îã§ÏñëÌïú condition(Íµ∞ÏßëÍ∞ØÏàò, Ïª¨ÎüºÍ∞ØÏàò)ÏùÑ ÌÜµÌï¥ Í≤∞Í≥ºÎ•º ÎπÑÍµêÌïòÎèÑÎ°ù Ìï©ÎãàÎã§.
- Íµ∞Ïßë(ÌÅ¥Îü¨Ïä§ÌÑ∞)Î≥ÑÎ°ú Ïú†ÏùòÎØ∏Ìïú ÌäπÏßïÏùÑ ÏÇ¥Ìé¥Î≥¥Í≥† Ïù¥Î•º ÏãúÍ∞ÅÌôî ÌïòÍ≤†ÏäµÎãàÎã§.
- Ïù¥Î•º Î∞îÌÉïÏúºÎ°ú Íµ∞ÏßëÎ≥Ñ Ïù∏ÏÇ¨Ïù¥Ìä∏Î•º Ï†úÏãúÌï† Ïàò ÏûàÎèÑÎ°ù Ìï©ÎãàÎã§.

In [113]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import numpy as np

plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

pd.set_option('display.max_columns', None) ## Î™®Îì† Ïó¥ÏùÑ Ï∂úÎ†•ÌïúÎã§.

sns.set_palette('Set3')

---

## ÌååÏÉùÎ≥ÄÏàò

In [ ]:
card = pd.read_csv('./data//new_card_data.csv')
trans = pd.read_csv('./data/new_transactions_data.csv')
user = pd.read_csv('./data/new_users_data.csv')

user = user.rename(columns={'id': 'client_id'})
card = card.rename(columns={'id': 'card_id'})
trans = trans.rename(columns={'id': 'trans_id'})

In [139]:
card_type_df = card[['card_id','card_type']]
trans = trans.merge(card_type_df, on = 'card_id', how = 'inner')
trans.head(5)

,trans_id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors,year,month,weekday,card_type
0,7475327,2010-01-01 00:01:00,1556,2972,-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,No,2010,1,4,Debit (Prepaid)
1,7475328,2010-01-01 00:02:00,561,4575,14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,No,2010,1,4,Credit
2,7475329,2010-01-01 00:02:00,1129,102,80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829,No,2010,1,4,Debit
3,7475332,2010-01-01 00:06:00,848,3915,46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813,No,2010,1,4,Debit
4,7475333,2010-01-01 00:07:00,1807,165,4.81,Swipe Transaction,20519,Bronx,NY,10464.0,5942,No,2010,1,4,Debit (Prepaid)

### 1. User
- ÏùÄÌá¥ ÎÇòÏù¥ - ÌòÑÏû¨ ÎÇòÏù¥
- Î∂ÄÏ±Ñ/Ïó∞ÏÜåÎìù

In [140]:
user['years_to_retirement'] = user['retirement_age']-user['current_age']

In [141]:
user['debt_to_annual_income_ratio'] = (user['total_debt']/user['yearly_income']).round(2)

### 2. Trans (Í≥†Í∞ùÎ≥Ñ)
1. ÌôòÎ∂à Ïú†Î¨¥
2. ÏûîÏï° Î∂ÄÏ°±ÏúºÎ°ú Ïù∏Ìïú Í±∞Îûò ÏóêÎü¨ ÎπÑÏú®
3. Í≥†Í∞ùÎ≥Ñ Ïπ¥ÎìúÎ≥Ñ Ïó∞ÌèâÍ∑† ÏÇ¨Ïö©Îüâ
4. Í≥†Í∞ùÎ≥Ñ Ïπ¥Îìú Î≥Ñ ÌôòÎ∂à ÎπÑÏú®

In [142]:
# ÌôòÎ∂à
trans['refund'] = trans['amount'].apply(lambda x: True if x <0 else False)

In [143]:
# ÏûîÏï° Î∂ÄÏ°±ÏúºÎ°ú Ïù∏Ìïú ÏóêÎü¨ ÎπÑÏú®
count_trans = trans.groupby(['client_id']).size().to_frame('trans_count')
error_trans = trans[trans['errors']=='Insufficient Balance'].groupby(['client_id']).size().to_frame('error_trans_count')
error_ratio = (error_trans['error_trans_count']/count_trans['trans_count']).round(4)

user['error_ratio'] = user["client_id"].map(error_ratio)

In [144]:
# Í≥†Í∞ùÎ≥Ñ Ïπ¥Îìú Î≥Ñ Ïó∞ ÌèâÍ∑† ÏÇ¨Ïö© ÌöüÏàò

# Í≥†Í∞ùÎ≥Ñ Ïó∞ÎèÑÎ≥Ñ Ï¥ù Ïπ¥Îìú ÏÇ¨Ïö© ÌöüÏàò
client_yearly_total_count = trans.groupby(['client_id','card_type','year']).size().reset_index(name='count')
# Í≥†Í∞ùÎ≥Ñ Ïó∞ÌèâÍ∑† Ïπ¥Îìú ÏÇ¨Ïö© ÌöüÏàò
client_avg_yearly_count = client_yearly_total_count.groupby(['client_id','card_type'])['count'].mean().round(0).reset_index(name='avg_year_count')

card = card.merge(client_avg_yearly_count, on= ['card_type','client_id'], how='left')

In [145]:
# Í≥†Í∞ùÎ≥Ñ Ïπ¥Îìú Î≥Ñ ÌôòÎ∂à ÎπÑÏú®

# Í≥†Í∞ùÎ≥Ñ Ïó∞ÎèÑÎ≥Ñ Ï¥ù Ïπ¥Îìú ÏÇ¨Ïö© ÌöüÏàò
client_total_count = trans.groupby(['client_id','card_type']).size().reset_index(name='count')
# Í≥†Í∞ùÎ≥Ñ Ïπ¥ÎìúÎ≥Ñ ÌôòÎ∂à
client_refund_count = trans[trans['amount']<0].groupby(['client_id','card_type']).size().reset_index(name='refund_count')

client_refund = client_total_count.merge(client_refund_count, on=['client_id','card_type'], how='inner')
client_refund['refund_ratio'] = (client_refund['refund_count']/client_refund['count']).round(2)

card = card.merge(client_refund, on= ['card_type','client_id'], how='left')
card.drop(columns=['count','refund_count'],inplace=True)
card.head(5)

,card_id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web,acct_open_year,avg_year_count,refund_ratio
0,4524,825,Visa,Debit,4344676511950444,2022-12-01,623,YES,2,24295,2002-09-01,2008,No,2002,597.0,0.03
1,2731,825,Visa,Debit,4956965974959986,2020-12-01,393,YES,2,21968,2014-04-01,2014,No,2014,597.0,0.03
2,3701,825,Visa,Debit,4582313478255491,2024-02-01,719,YES,2,46414,2003-07-01,2004,No,2003,597.0,0.03
3,42,825,Visa,Credit,4879494103069057,2024-08-01,693,NO,1,12400,2003-01-01,2012,No,2003,541.0,0.03
4,4537,1746,Visa,Credit,4404898874682993,2003-09-01,736,YES,1,27500,2003-09-01,2012,No,2003,NaN,NaN

### 3. Card
- Í∞ÄÏûÖÍ∏∞Í∞Ñ: 2019.10.31 - acct_open_date
- Í≥†Í∞ùÎ≥Ñ Ïπ¥Îìú Î∏åÎûúÎìú Í∞ØÏàò

In [146]:
print(max(card['acct_open_date']))
current_date = pd.to_datetime('2020-02')
acc_year = pd.to_datetime(card['acct_open_date']).dt.year
acc_month = pd.to_datetime(card['acct_open_date']).dt.month
card['subscription_period(month)'] = (current_date.year-acc_year) * 12 + (current_date.month-acc_month)

2020-02-01

In [147]:
brand_group = card.groupby(['client_id'])['card_brand'].nunique()
user['use_card_brand'] = user["client_id"].map(brand_group)

### User + Trans
- Í≥†Í∞ùÎ≥Ñ Ïó∞ÌèâÍ∑† ÏÜåÎπÑ / Í≥†Í∞ùÎ≥Ñ Ïó∞ÏÜåÎìù

In [ ]:
# Í≥†Í∞ùÎ≥Ñ Ïó∞ÎèÑÎ≥Ñ Ï¥ù ÏÜåÎπÑÍ∏àÏï°
client_yearly_total_spend = trans.groupby(['client_id','year'])['amount'].sum().reset_index()
# Í≥†Í∞ùÎ≥Ñ Ïó∞ÌèâÍ∑† ÏÜåÎπÑÍ∏àÏï°
client_avg_yearly_spend = client_yearly_total_spend.groupby(['client_id'])['amount'].mean().reset_index(name='avg_year_amount')
client_avg_yearly_spend
user = user.merge(client_avg_yearly_spend, left_on='client_id',right_on= 'client_id', how='left')

user['card_spending_to_annual_income_ratio'] = (user['avg_year_amount']/user['yearly_income']).round(4)
user.drop(columns='avg_year_amount',inplace=True)

### Í≤∞Ï∏°Ïπò ÌôïÏù∏

In [151]:
user.isna().sum()

client_id                                 0
current_age                               0
retirement_age                            0
birth_year                                0
birth_month                               0
gender                                    0
address                                   0
latitude                                  0
longitude                                 0
per_capita_income                         0
yearly_income                             0
total_debt                                0
credit_score                              0
num_credit_cards                          0
log_yearly_income                         0
log_per_capita_income                     0
years_to_retirement                       0
debt_to_annual_income_ratio               0
error_ratio                             790
use_card_brand                           43
card_spending_to_annual_income_ratio    789
dtype: int64

In [ ]:
#  Î≥¥Ïú† Ïπ¥Îìú ÏàòÍ∞Ä ÏûàÎäîÎç∞ ÏÇ¨Ïö©ÌïòÎäî Ïπ¥Îìú Î∏åÎûúÎìú ÏàòÍ∞Ä ÏóÜÎã§? ‚Üí Ïù¥ÏÉÅÏπò ‚Üí drop
user.drop(index= list(user[(user['use_card_brand'].isna())].index),inplace=True)

,client_id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards,log_yearly_income,log_per_capita_income,years_to_retirement,debt_to_annual_income_ratio,error_ratio,use_card_brand,card_spending_to_annual_income_ratio
43,1231,26,52,1994,1,Female,613 Little Creek Lane,26.41,-81.42,10819,22066,38967,842,1,10.001839,9.289152,26,1.77,NaN,NaN,NaN
69,633,36,69,1983,10,Female,5506 Fifth Boulevard,33.88,-118.27,24611,50179,110515,743,1,10.823372,10.110989,33,2.20,NaN,NaN,NaN
188,1188,24,61,1995,8,Female,66992 Second Street,36.30,-115.24,31374,63969,128412,626,1,11.066170,10.353767,37,2.01,NaN,NaN,NaN
190,1479,32,60,1987,11,Male,335 Main Street,33.72,-84.42,13059,26631,33950,805,1,10.189869,9.477309,28,1.27,NaN,NaN,NaN
217,1273,21,71,1998,4,Male,966 Sussex Boulevard,41.88,-87.97,24223,49382,43126,762,1,10.807362,10.095099,50,0.87,NaN,NaN,NaN
309,1172,50,64,1970,2,Male,5154 Sixth Avenue,38.02,-121.30,14709,29994,100834,769,1,10.308786,9.596283,14,3.36,NaN,NaN,NaN
320,768,53,67,1966,10,Female,709 River Lane,40.13,-75.06,34043,69412,177225,620,1,11.147829,10.435409,14,2.55,NaN,NaN,NaN
324,1610,42,66,1978,1,Female,12150 Mill Boulevard,32.32,-90.20,13717,27967,50159,690,2,10.238816,9.526464,24,1.79,NaN,NaN,NaN
326,1308,36,67,1984,2,Female,28 Lexington Drive,47.36,-122.10,28919,58964,71890,619,1,10.984699,10.272289,31,1.22,NaN,NaN,NaN
327,780,74,66,1945,11,Male,41 Rose Lane,42.35,-71.22,56720,58378,73124,652,1,10.974712,10.945900,-8,1.25,NaN,NaN,NaN
378,1311,27,71,1992,11,Male,79 Sixth Avenue,47.54,-122.58,21219,43264,89798,729,1,10.675099,9.962699,44,2.08,NaN,NaN,NaN
429,1438,26,64,1994,1,Female,4631 Plum Avenue,41.47,-81.67,14737,30049,80474,700,1,10.310618,9.598184,38,2.68,NaN,NaN,NaN
468,1234,44,64,1975,10,Male,7815 Hillside Avenue,29.76,-95.38,30499,62185,114235,749,1,11.037885,10.325482,20,1.84,NaN,NaN,NaN
474,1922,79,65,1940,11,Male,127 Valley Boulevard,32.85,-117.20,34848,53222,23051,640,1,10.882246,10.458780,-14,0.43,NaN,NaN,NaN
505,1287,32,67,1987,7,Female,698 11th Lane,35.55,-77.05,15827,32274,72974,545,1,10.382048,9.669536,35,2.26,NaN,NaN,NaN
523,1319,19,68,2000,3,Female,671 George Drive,38.20,-84.55,23827,48582,189348,546,1,10.791029,10.078617,49,3.90,NaN,NaN,NaN
690,367,27,67,1992,8,Female,8893 Valley Drive,41.52,-87.42,21992,44843,67179,756,2,10.710945,9.998479,40,1.50,NaN,NaN,NaN
737,1864,20,69,1999,8,Male,1177 Elm Avenue,42.79,-73.67,24904,50776,19785,701,1,10.835199,10.122824,49,0.39,NaN,NaN,NaN
744,707,22,67,1997,12,Female,5941 South Lane,34.72,-82.78,18271,37253,63522,576,1,10.525515,9.813125,45,1.71,NaN,NaN,NaN
849,1428,35,62,1984,11,Female,800 Ninth Boulevard,37.67,-92.66,13963,28472,42750,508,1,10.256712,9.544238,27,1.50,NaN,NaN,NaN
878,1867,33,69,1986,10,Male,514 Sixth Boulevard,29.45,-98.50,21563,43968,71218,644,1,10.691240,9.978781,36,1.62,NaN,NaN,NaN
947,255,18,57,2001,8,Female,8026 East Drive,29.79,-95.82,21214,43253,56323,718,1,10.674845,9.962464,39,1.30,NaN,NaN,NaN
1006,266,19,65,2000,3,Female,39 Park Lane,34.02,-118.15,13485,27494,26097,724,1,10.221759,9.509407,46,0.95,NaN,NaN,NaN
1065,196,44,64,1975,5,Female,518 Norfolk Avenue,33.29,-83.96,17545,35775,67263,773,1,10.485033,9.772581,20,1.88,NaN,NaN,NaN
1066,690,71,64,1948,3,Female,149 Burns Boulevard,39.59,-105.01,31024,67186,29682,692,1,11.115235,10.342549,-7,0.44,NaN,NaN,NaN
1105,204,31,67,1988,9,Female,775 Lexington Boulevard,30.64,-97.68,20968,42754,60172,656,1,10.663241,9.950800,36,1.41,NaN,NaN,NaN
1189,1350,22,65,1998,2,Female,637 Main Avenue,33.84,-118.07,21940,44740,103896,651,1,10.708646,9.996112,43,2.32,NaN,NaN,NaN
1208,518,31,61,1988,4,Male,558 North Street,44.06,-70.39,22283,45433,91998,523,1,10.724016,10.011624,30,2.02,NaN,NaN,NaN
1209,1203,36,62,1984,2,Male,5867 East Street,43.42,-73.71,20371,41537,128044,582,1,10.634364,9.921917,26,3.08,NaN,NaN,NaN
1484,861,22,67,1997,7,Female,919 First Street,41.99,-89.20,20147,41080,106545,793,1,10.623301,9.910860,45,2.59,NaN,NaN,NaN
1494,403,33,72,1986,7,Male,699 Third Avenue,32.15,-94.79,17898,36496,119670,759,1,10.504985,9.792500,39,3.28,NaN,NaN,NaN
1530,620,26,61,1993,5,Male,930 Mill Drive,37.80,-89.03,16397,33437,56690,588,1,10.417448,9.704915,35,1.70,NaN,NaN,NaN
1538,1249,18,65,2002,1,Female,24 Lafayette Street,30.84,-83.27,19681,40131,48468,721,1,10.599929,9.887460,47,1.21,NaN,NaN,NaN
1554,393,41,64,1978,12,Male,3536 Burns Street,33.44,-94.07,15884,32387,65171,765,1,10.385543,9.673131,23,2.01,NaN,NaN,NaN
1563,337,20,74,1999,9,Male,2539 Hill Street,41.69,-71.51,22701,46284,46220,850,1,10.742573,10.030208,54,1.00,NaN,NaN,NaN
1591,1126,18,64,2002,1,Male,3578 Pine Lane,35.40,-80.59,20570,41940,82593,710,1,10.644019,9.931638,46,1.97,NaN,NaN,NaN
1607,1331,49,70,1971,2,Female,6661 Mill Lane,47.11,-122.76,24044,49026,83385,718,1,10.800126,10.087682,21,1.70,NaN,NaN,NaN
1625,70,20,64,2000,2,Male,8997 Summit Avenue,40.26,-76.71,31040,63292,145756,635,1,11.055530,10.343064,44,2.30,NaN,NaN,NaN
1658,102,32,67,1987,7,Female,2785 Elm Drive,33.76,-117.97,16289,33212,59638,649,1,10.410697,9.698307,35,1.80,NaN,NaN,NaN
1731,1531,34,62,1985,10,Male,801 River Street,34.47,-85.34,14514,29594,47766,792,1,10.295361,9.582938,28,1.61,NaN,NaN,NaN
1766,1092,54,62,1965,5,Male,703 12th Street,41.01,-75.99,23450,47814,92020,720,2,10.775095,10.062668,8,1.92,NaN,NaN,NaN
1773,687,20,66,1999,11,Male,1693 Spruce Street,42.24,-84.40,17783,36264,99582,725,1,10.498608,9.786054,46,2.75,NaN,NaN,NaN
1790,1000,20,73,1999,8,Female,6030 Third Lane,41.93,-71.29,26693,54424,92199,687,1,10.904579,10.192194,53,1.69,NaN,NaN,NaN

In [ ]:
user[(user['error_ratio'].isna()) & (user['card_spending_to_annual_income_ratio'].isna())][:5]
# ‚Üí Í±∞Îûò Í∏∞Î°ùÏù¥ ÏóÜÎã§.

,client_id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards,log_yearly_income,log_per_capita_income,years_to_retirement,debt_to_annual_income_ratio,error_ratio,use_card_brand,card_spending_to_annual_income_ratio
7,1711,26,67,1993,12,Male,1941 Ninth Street,45.51,-122.64,26790,54623,114711,728,1,10.908229,10.195821,41,2.10,NaN,1.0,NaN
10,192,27,66,1992,6,Male,888 Fifth Lane,38.65,-121.25,27548,56164,15224,761,2,10.936049,10.223722,39,0.27,NaN,1.0,NaN
11,640,29,63,1990,9,Female,8677 Littlewood Lane,40.42,-104.74,22427,45727,94016,629,1,10.730466,10.018065,34,2.06,NaN,1.0,NaN
12,1679,18,67,2002,1,Female,829 Fourth Boulevard,41.76,-71.48,33914,69149,89214,776,1,11.144033,10.431613,49,1.29,NaN,1.0,NaN
14,1590,48,62,1971,5,Female,781 East Street,29.45,-98.50,10059,20513,32509,599,1,9.928863,9.216322,14,1.58,NaN,1.0,NaN

In [132]:
card.isna().sum()

card_id                          0
client_id                        0
card_brand                       0
card_type                        0
card_number                      0
expires                          0
cvv                              0
has_chip                         0
num_cards_issued                 0
credit_limit                     0
acct_open_date                   0
year_pin_last_changed            0
card_on_dark_web                 0
acct_open_year                   0
avg_year_count                1599
refund_ratio                  1622
subscription_period(month)       0
dtype: int64

In [ ]:
card[card.isna( ).any(axis=1)]
# ‚Üí  Í±∞Îûò Í∏∞Î°ùÏù¥ ÏóÜÎã§

,card_id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web,acct_open_year,avg_year_count,refund_ratio,subscription_period(month)
4,4537,1746,Visa,Credit,4404898874682993,2003-09-01,736,YES,1,27500,2003-09-01,2012,No,2003,NaN,NaN,197
22,744,1711,Visa,Debit,4595831603224644,2023-05-01,689,NO,2,17480,2020-01-01,2020,No,2020,NaN,NaN,1
29,1766,192,Visa,Debit,4857799018106614,2021-07-01,930,YES,1,25499,2020-02-01,2020,No,2020,NaN,NaN,0
30,1767,192,Visa,Debit,4324062360619923,2020-02-01,358,YES,1,18641,2020-02-01,2020,No,2020,NaN,NaN,0
31,745,640,Visa,Debit,4852639114720724,2023-05-01,995,YES,1,26019,2020-01-01,2020,No,2020,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5514,957,588,Visa,Debit,4331126149037342,2021-02-01,920,YES,2,21787,2020-01-01,2020,No,2020,NaN,NaN,1
5515,439,588,Discover,Credit,6209823400357197,2020-01-01,916,YES,2,12000,2020-01-01,2020,No,2020,NaN,NaN,1
5526,1305,1007,Mastercard,Credit,5929512204765914,2020-08-01,237,NO,2,9200,2012-02-01,2012,No,2012,NaN,NaN,96
5527,743,1110,Mastercard,Debit,5589768928167462,2020-01-01,630,YES,1,28074,2020-01-01,2020,No,2020,NaN,NaN,1
5528,3199,1110,Visa,Credit,4994011318343994,2020-12-01,120,YES,1,14400,2017-05-01,2017,No,2017,NaN,NaN,33

## user+cardÎßå merge
- Ïù¥Îïå TransÏóêÏÑú Ïò® ÌååÏÉùÎ≥ÄÏàòÍ∞Ä NanÏù∏ Í∞íÏù¥ Ï°¥Ïû¨ -> Ìï¥Îãπ ÌååÏÉùÎ≥ÄÏàòÎì§Ïù¥ Î™®Îëê NanÏù¥Î©¥ Í≥†Í∞ùÍ≥º Ïπ¥Îìú Îç∞Ïù¥ÌÑ∞Îäî ÏûàÏßÄÎßå, Í±∞ÎûòÌïú ÎÇ¥Ïó≠Ïù¥ ÏóÜÎäîÍ±∞Îãà fillna(0)  
                                                -> ÎÇòÎ®∏ÏßÄÎäî Ïù¥ÏÉÅÏπòÎ°ú dropna

In [175]:
user_col = ['client_id', 'gender', 'credit_score', 'num_credit_cards', 
            'years_to_retirement', 'debt_to_annual_income_ratio', 'error_ratio', 'use_card_brand', 'card_spending_to_annual_income_ratio']
card_col = ['card_id', 'client_id', 'card_type', 'credit_limit', 'avg_year_count', 'refund_ratio', 'subscription_period(month)']

In [176]:
final_user = user[user_col].copy()
final_card = card[card_col].copy()

In [177]:
merge = final_user.merge(final_card, on='client_id', how='left')
print(merge.shape)
merge.head()

(5405, 15)

,client_id,gender,credit_score,num_credit_cards,years_to_retirement,debt_to_annual_income_ratio,error_ratio,use_card_brand,card_spending_to_annual_income_ratio,card_id,card_type,credit_limit,avg_year_count,refund_ratio,subscription_period(month)
0,825,Female,787,5,13,2.14,0.0227,1.0,1.5284,4524,Debit,24295,597.0,0.03,209
1,825,Female,787,5,13,2.14,0.0227,1.0,1.5284,2731,Debit,21968,597.0,0.03,70
2,825,Female,787,5,13,2.14,0.0227,1.0,1.5284,3701,Debit,46414,597.0,0.03,199
3,825,Female,787,5,13,2.14,0.0227,1.0,1.5284,42,Credit,12400,541.0,0.03,205
4,1746,Female,701,5,15,2.48,0.0111,2.0,0.2967,4537,Credit,27500,NaN,NaN,197

In [178]:
merge.isna().sum()

client_id                                  0
gender                                     0
credit_score                               0
num_credit_cards                           0
years_to_retirement                        0
debt_to_annual_income_ratio                0
error_ratio                             1465
use_card_brand                             0
card_spending_to_annual_income_ratio    1464
card_id                                    0
card_type                                  0
credit_limit                               0
avg_year_count                          1576
refund_ratio                            1593
subscription_period(month)                 0
dtype: int64

In [179]:
merge[merge.isna( ).any(axis=1)]

,client_id,gender,credit_score,num_credit_cards,years_to_retirement,debt_to_annual_income_ratio,error_ratio,use_card_brand,card_spending_to_annual_income_ratio,card_id,card_type,credit_limit,avg_year_count,refund_ratio,subscription_period(month)
4,1746,Female,701,5,15,2.48,0.0111,2.0,0.2967,4537,Credit,27500,NaN,NaN,197
22,1711,Male,728,1,41,2.10,NaN,1.0,NaN,744,Debit,17480,NaN,NaN,1
29,192,Male,761,2,39,0.27,NaN,1.0,NaN,1766,Debit,25499,NaN,NaN,0
30,192,Male,761,2,39,0.27,NaN,1.0,NaN,1767,Debit,18641,NaN,NaN,0
31,640,Female,629,1,34,2.06,NaN,1.0,NaN,745,Debit,26019,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5390,588,Male,844,3,45,1.61,NaN,2.0,NaN,957,Debit,21787,NaN,NaN,1
5391,588,Male,844,3,45,1.61,NaN,2.0,NaN,439,Credit,12000,NaN,NaN,1
5402,1007,Male,618,1,-6,0.50,NaN,1.0,NaN,1305,Credit,9200,NaN,NaN,96
5403,1110,Female,673,2,39,2.75,NaN,2.0,NaN,743,Debit,28074,NaN,NaN,1
5404,1110,Female,673,2,39,2.75,NaN,2.0,NaN,3199,Credit,14400,NaN,NaN,33

In [180]:
no_use = merge[(merge['error_ratio'].isna()) & (merge['card_spending_to_annual_income_ratio'].isna())&(merge['avg_year_count'].isna()) & (merge['refund_ratio'].isna())].index
cols_to_fill = ['error_ratio', 'card_spending_to_annual_income_ratio', 'avg_year_count', 'refund_ratio']
merge.loc[no_use, cols_to_fill] = merge.loc[no_use, cols_to_fill].fillna(0)
merge.dropna(axis=0, inplace=True)

In [183]:
print(merge.shape)
merge.isna().sum()

(5275, 15)

client_id                               0
gender                                  0
credit_score                            0
num_credit_cards                        0
years_to_retirement                     0
debt_to_annual_income_ratio             0
error_ratio                             0
use_card_brand                          0
card_spending_to_annual_income_ratio    0
card_id                                 0
card_type                               0
credit_limit                            0
avg_year_count                          0
refund_ratio                            0
subscription_period(month)              0
dtype: int64

In [182]:
merge.to_csv('./data/credit_merge.csv', index=False)